In [ ]:
# Auto updating website visualizing the Domestic Film Box office, and possibly more

# The Steps

We need to abduct the data from at least one or more websites and make our own data visualization(s) of it.

1. Turn the website's data into a CSV of our own

In this section we are going to download Domestic US box office data from IMDB Charts and Box Office Mojo which is a product of IMDB Pro. They will be saved as seperate CSV files.

The first URL is https://www.imdb.com/chart/boxoffice/

The second URL is https://www.boxofficemojo.com/date/?ref_=bo_nb_wey_secondarytab

In [2]:
# Normally we'd do this...
import requests
from bs4 import BeautifulSoup

#... but this we'll just do this!
import pandas as pd

In [10]:
tables = pd.read_html("https://www.boxofficemojo.com/date/?ref_=bo_nb_wey_secondarytab")
len(tables)

1

In [12]:
df = tables[0]
df.head()

,Date,Day,Day #,Top 10 Gross,%± YD,%± LW,Releases,#1 Release,Gross
0,Dec 17,Wednesday,351,"$6,391,911",-24.9%,-28.4%,18,Zootopia 2,"$2,373,621"
1,Dec 16,Tuesday,350,"$8,506,393",+50.1%,-35.6%,18,Zootopia 2,"$3,255,783"
2,Dec 15,Monday,349,"$5,667,418",-71%,-38.3%,18,Zootopia 2,"$2,044,258"
3,Dec 14,Sunday,348,"$19,516,241",-32.7%,-50.1%,39,Zootopia 2,"$7,869,569"
4,Dec 13,Saturday,347,"$28,996,806",+53.1%,-48.8%,39,Zootopia 2,"$11,750,365"

In [14]:
df = df.drop(columns=['Day #', '%± LW'])

In [16]:
df = df.rename(columns={
    'Releases': 'Number of Films in Release'
})

In [18]:
df = df.rename(columns={
    '%± YD': 'Percent Change vs Prior Day'
})
df.head()

,Date,Day,Top 10 Gross,Percent Change vs Prior Day,Number of Films in Release,#1 Release,Gross
0,Dec 17,Wednesday,"$6,391,911",-24.9%,18,Zootopia 2,"$2,373,621"
1,Dec 16,Tuesday,"$8,506,393",+50.1%,18,Zootopia 2,"$3,255,783"
2,Dec 15,Monday,"$5,667,418",-71%,18,Zootopia 2,"$2,044,258"
3,Dec 14,Sunday,"$19,516,241",-32.7%,39,Zootopia 2,"$7,869,569"
4,Dec 13,Saturday,"$28,996,806",+53.1%,39,Zootopia 2,"$11,750,365"

In [21]:
df.to_csv("box-office.csv", index=False)